@import '../../App.scss';

.recommended {
  img {
    width: 25px;
    height: 25px;
    
  }
  
}

.video-slider-container {
  position: relative;
  width: 100%;
  height: 70vh;
  margin-top: 20px;
  background: $Second-Color;



}